<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.springframework.org/schema/data/jaxb">
    <head>
        <meta charset="UTF-8"/>
        <title>Tạp hóa online</title>
        <link rel="icon" href="/src/main/resources/static/images/title-icon.jpg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Sample style -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.   0/css/font-awesome.min.css">
        <!-- Custom style -->
        <link rel="stylesheet" href="#" th:href="@{/css/toast_message.css}">
        <link rel="stylesheet" href="#" th:href="@{/css/universal.css}">
        <!-- Custom script -->
        <link rel="script" href="#" th:href="@{script/toast_script.js}">
    </head>
    <body>
        <div class="container-form"> 
            <form th:object="${productDto}" th:action="@{/admin/products}" action="#" method="post" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
                <h2 class="w3-center">TẠO SẢN PHẨM MỚI</h2>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest"> 
                        <input class="w3-input w3-border" type="text" th:field="*{name}" placeholder="Tên sản phẩm">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest"> 
                        <input class="w3-input w3-border" type="text" th:field="*{category}" placeholder="Loại sản phẩm">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest"> 
                        <input class="w3-input w3-border" type="text" th:field="*{detail}" placeholder="Chi tiết">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest"> 
                        <input class="w3-input w3-border" type="text" th:field="*{image}" placeholder="Ảnh sản phẩm">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest"> 
                        <input class="w3-input w3-border" type="text" th:field="*{price}" placeholder="Đơn giá">
                    </div>
                </div>
                <div class="w3-row w3-section" style="display: flex">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <ul th:field="*{status}"> Trạng thái
                        <p style="padding-right: 20px">
                            <li class="w3-radio" type="radio" value="0" checked>
                            <label>Còn hàng</label>
                        </p>
                        <p>
                            <li class="w3-radio" type="radio" value="1">
                            <label>Hết hàng</label>
                        </p>
                    </ul>
                </div>
                <p class="w3-center" style="display: flex; justify-content: space-around;">
                    <button class="w3-button w3-blue" type="submit">Lưu</button>
                    <a class="w3-button w3-grey" href="#" th:href="@{/admin/products}">Hủy bỏ</a>
                </p>
            </form>
        </div>    
    </body>
</html> 